<ng-template #emptyCart>
  <p class="empty-cart-message">
    Your cart is empty! Add an item to complete a purchase.
  </p>
</ng-template>

<div *ngIf="cartItems.length > 0; else emptyCart">
  <div class="total-price">
    <p>Total price: {{ totalPrice }} $</p>
    <button class="checkout-button" (click)="checkout()">Checkout</button>
  </div>
  <span class="grid-products">
    <app-product-item
      *ngFor="let product of cartItems"
      [product]="product"
      [isInCart]="true"
      (changeQuantity)="changeQuantity($event)"
    ></app-product-item>
  </span>
</div>
