<!--simple header for ecommerce app-->
<!-- <app-header></app-header> -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>My Store</span>
    <span class="spacer"></span>
      <button mat-menu-item (click)="onclick_home_page()">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item (click)="onclick_shopping_cart()">
        <mat-icon matBadge="{{cart_length}}" matBadgeColor="accent">shopping_cart</mat-icon>
        <span>Cart</span>
      </button>
      <button mat-menu-item (click)="onclick_wishlist()">
        <mat-icon>favorite</mat-icon>
        <span>Wishlist</span>
      </button>
  </mat-toolbar-row>
  