.product-image {      
  list-style-type: none;
  width: 70%;
  margin: 6px 6px;   
  border: 1px solid #ccc; 
  border-radius: 5px;
} 
  
.product-container {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 16px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.select-input {
  width: 108px; 
  margin-bottom: 8px;
}

input {
  width: 20%;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.product-button {
  width: 70%;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #d7d7d7;
}

.product-button:hover {
  opacity: 0.8;
}

.add-to-cart {
  background-color: #c2185b;
  color: white;
}

.add-to-wishlist {
  background-color: #607d8b;
  color: white;
}